__pycache__/
*.xlsx
credentials.json
*.png
*.txt

token.pickle
microsoft_graph.py
background_procesess.py
duty_sms_notifications.py
google_auth.py

appendForm.js
logo.svg
serviceWorker.js
setupTests.js
App.test.js
index.css
index.js
package-lock.json
package.json
yarn.lock
