.App {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  height: 65%;
  background-image: linear-gradient(#0353a3, #b97446, #0353a3)

}

.App-header {
  padding: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: #ff944d;
}

.RD-duty-checkbox {
  margin-bottom: 15px;
  font-size: 10px;
}
.Form-Format {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: white;

}
.Scheduling-options {
  text-decoration: underline;
  margin-top: 5px;
}

.Staff-members {
  margin-top: 45px;
  text-decoration: underline;
}

.btn.btn-secondary {
  background-color: #666666;
}

.submit-row {
  line-height: 95px;
}

.doubleDuty-checkBox {
  font-size: 15px;
}

.sra-checkbox {
  font-size: 15px;
  position:relative; 
  top: 50px;
}

.input-box {
  width: 190px;
}

.Footer {
  border-radius: 15px;
  margin-top: 75px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
